<nav>
  <div class="container">
    <div class="d-flex justify-content-between row main-content">

      <div class="col-5">
        <div class="d-flex align-items-center justify-content-center m-2">
          <div class="m-2">Retailer</div>

          <div class="d-flex align-items-center justify-content-center profile-pic">

            <mat-icon> account_circle</mat-icon>
          </div>
          <div class="m-2">{{ retailer }}</div>

          <button mat-button color="primary" class="d-flex justify-content-center toggle-btn" [disabled]="disableButton" (click)="toggle($event)">
            <mat-icon>{{ state?'keyboard_arrow_up':'keyboard_arrow_down' }}</mat-icon>
          </button>
        </div>

      </div>

      <div class="col-2 d-flex align-items-center justify-content-center">
        <div class="logo">
        </div>
      </div>

      <div class="col-5  d-flex align-items-center justify-content-end">
        <mat-icon> shopping_basket </mat-icon>
      </div>
    </div>
  </div>

  <div class="container p-0" [@growShrink]="state">
    <selected-retailer></selected-retailer>
  </div>


</nav>
