<div class="selected-retailer-container" [@openClose]="state" (@openClose.done)="animationDone($event)">

  <div *ngIf="activeContent === 'selectedRetailer'" class="p-2 selected-retailer">
    <div class="d-flex flex-row justify-content-between">

      <div class="divide flex-fill d-flex justify-content-center align-items-center">

        <div class=" d-flex justify-content-center align-items-center profile-pic">
          <mat-icon style="width:50px;height:50px; font-size: 50px;"> account_circle</mat-icon>
        </div>

        <button class="m-2" mat-button color="primary" (click)="openChangeRetailer()">Change Retailer</button>
        {{ selectedRetailer }}
      </div>

      <div class="flex-fill d-flex flex-column justify-content-center align-items-center divide">
        <div class="font-weight-bold">Address</div>
        <div>33 River Drive</div>
        <div>Stafford</div>
        <div>ST18 9DF</div>

      </div>

      <div class="flex-fill d-flex justify-content-center divide">
        <div class="font-weight-bold">Map</div>
        <div class="m-1 map">
          <img width="150" height="150" src="../../../assets/map.jpg" alt="">
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="activeContent === 'changeRetailer'" class="p-2 change-retailer">

    <div class="d-flex flex-row justify-content-between row-one">
      <div>
        <label class="font-weight-bold">Postcode</label>
        <input class="m-2" [formControl]="postcode">
      </div>
      <div>
        <label class="font-weight-bold">Distance</label>
        <select class="m-2">
          <option>25</option>
          <option>50</option>
          <option>75</option>
          <option>100</option>
        </select>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <button  mat-button color="primary" (click)="saveRetailer()">Save Retailer</button>
      </div>
    </div>

    <div class="d-flex flex-row justify-content-between">

      <div class="divide flex-fill d-flex justify-content-center align-items-center">
        <span class="font-weight-bold p-2"> selected Retailer</span> {{ selectedRetailer}}
      </div>

      <div class="divide flex-fill d-flex flex-column justify-content-center align-items-center">

        <ul class="retailer-list">
          <li class="font-weight-bold">Retailer List</li>
          <li (click)="selectedRetailer = retailer" *ngFor="let retailer of retailers">{{ retailer }}</li>
        </ul>
      </div>

      <div class="divide flex-fill d-flex flex-column justify-content-center"></div>
      <div class="font-weight-bold">Map</div>
      <div class="m-1 map">
        <img width="150" height="150" src="../../../assets/map.jpg" alt="">
      </div>
    </div>
  </div>
</div>
